/* Add your own CSS if you like */
.bar.bar-dark {
    background-color: #4E994E;
    color: #f4f4f4;
}

.restaurant label {
    display: block;
    float: left;
    padding-right: 5px;
    white-space: nowrap;
}
.restaurant input {
    float: right;
}
.restaurant label span {
    vertical-align: left;
}
.restaurant label button {
    min-width:8em;
    max-width: 15em;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
h5 {
    margin-left: 0.7em;
    font-weight: normal;
    font-size: 1.2em;
}